server {
    listen              80;
    {% if https_enable -%}
    listen              443 ssl;
    {% endif -%}
    server_name         {{ server_name }};
    ssl_certificate_key {{ ssl_key }};
    ssl_certificate     {{ ssl_cert }};
    root                {{ root }};
    index               index.php;

    location ~ [^/]\.php(/|$) {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        fastcgi_param HTTP_PROXY "";
        fastcgi_pass unix:{{ php_socket }};
        fastcgi_index index.php;
        include fastcgi.conf;
    }

}